@model Kintai.Models.AttendanceMonth

@{
  //現在の日付から、月末の日付を算出
  DateTime dt = DateTime.Now;
  dt = dt.AddMonths(1);
  dt = new DateTime(dt.Year, dt.Month, 1);
  dt = dt.AddDays(-1.0);

}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <fieldset>
    <legend>AttendanceMonth</legend>

    <div class="user-field">
      <p>@Html.DisplayNameFor(model => model.User.name) : @Html.DisplayFor(model => model.User.name)</p>
    </div>

    <table class=".table-bordered">
      <tr>
        <th>@Html.DisplayNameFor(model => Model.AttendanceDays[0].Day)</th>
        <th>@Html.DisplayNameFor(model => Model.AttendanceDays[0].StartTime)</th>
        <th>@Html.DisplayNameFor(model => Model.AttendanceDays[0].EndTime)</th>
        <th>@Html.DisplayNameFor(model => Model.AttendanceDays[0].RestTime)</th>
      </tr>

      @for (var i = 0; i < Model.AttendanceDays.Count; i++)
      {
        <tr>
          <td>@Html.DisplayFor(model => Model.AttendanceDays[i].Day)</td>
          <td>@Html.TextBoxFor(model => Model.AttendanceDays[i].StartTime, new { @Value = Model.AttendanceDays[i].HourMinute(Model.AttendanceDays[i].StartTime) })</td>
          <td>@Html.TextBoxFor(model => Model.AttendanceDays[i].EndTime, new { @Value = Model.AttendanceDays[i].HourMinute(Model.AttendanceDays[i].EndTime) })</td>
          <td>@Html.TextBoxFor(model => Model.AttendanceDays[i].RestTime, new { @Value = Model.AttendanceDays[i].HourMinute(Model.AttendanceDays[i].RestTime) })</td>
        </tr>
      }
    </table>


    <p>
      <input type="submit" value="保存" />
    </p>
  </fieldset>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
